*.fasl
cl-rogue
driver/venv/
__pycache__/
training_data/
model/*.ubj
model/*_meta.json
!model/monster_model_combined.ubj
!model/monster_model_combined_meta.json
!model/monster_model_v2.ubj
!model/monster_model_v2_meta.json
!model/monster_model_v3.ubj
!model/monster_model_v3_meta.json
